[metadata.release]
consolidate-commits = false
pre-release-commit-message = "{{crate_name}} {{version}}"
tag-message = "Release {{crate_name}} version {{version}}"
tag-name = "{{prefix}}{{version}}"
pre-release-replacements = [
  {file="CHANGELOG.md", search="## \\[Unreleased\\]", replace="## [Unreleased]\n\n## [{{version}}] - {{date}}"},
]
pre-release-hook = ["cargo", "vet"]
# Remove the following options once we're happy to use `cargo-release` without review.
tag = false
publish = false
push = false

[profile.release]
lto = true
panic = 'abort'
codegen-units = 1

[profile.test]
# Since we have many computationally expensive tests, this changes the test profile to
# compile with optimizations by default, but keep full debug info.
#
# This differs from the release profile in the following ways:
# - it does not set `lto = true`, which increases compile times without substantially
#   speeding up tests;
# - it does not set `codegen-units = 1`, which increases compile times and is only
#   useful to improve determinism of release builds;
# - it does not set `panic = 'abort'`, which is in any case ignored for tests.
#
# To get results as close as possible to a release build, use `cargo test --release`.
# To speed up compilation and avoid optimizations potentially resulting in lower-quality
# debug info, use `cargo test --profile=dev`.
opt-level = 3
debug = true

lints.rust.workspace = true
